.brand {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.articles-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.story {
    border: solid 1px #333;
    padding: 10px;
}

.quarter {
    width: 25%;
    /* flex: 1; */
}

.half {
    width: 50%;
    /* flex: 2; */
}

.three-quarter {
    width: 75%;
    /* flex: 3; */
}

.story-title {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 15px 0;
}

.story-text {
    line-height: 1.5;
    font-size: 16px;
}

.story-img {
    width: 100%;
    height: auto;
}

.site-nav {
    border: solid 1px #333;
}

.nav-list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #555;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* take as much space as possible */
    flex: 1;
}

.nav-item:nth-child(1) {
    background-color: #ffeaa7;
}

.nav-item:nth-child(2) {
    background-color: #81ecec;
}

.nav-item:nth-child(3) {
    background-color: #55efc4;
}

.nav-item:nth-child(4) {
    background-color: #74b9ff;
}

.nav-item:nth-child(5) {
    background-color: #a29bfe;
}

.nav-link {
    text-decoration: none;
    color: #555;
}

.nav-link:hover {
    text-decoration: underline;
}